.footer_container{
  background-color: rgb(32, 31, 31);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container p{
  letter-spacing: 5px;
  font-weight: lighter;
}

.footer_container a{
  color: #EB4511;
  font-weight: bold;
  letter-spacing: 0px;
  text-decoration: none;
}

.footer_container svg{
  width: 10px;
  height: 10px;
  margin-right: 4px;
}